{% load static %}
{% load task_extras %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
{% for task in tasks %}
    <h1 style="text-align: center">Task</h1>
    <p>Task id: {{ task.id }} | Task title: {{ task.title }} |
        Task project: {{ task.project }} | Task description: {{ task.description }} |
        Task status: {{ task.status }} | Task assigned_to: {{ task.assigned_to.all|join:', ' }}</p>
    {% if task.attachment.all %}
        <hr>
        <h1>Task attachments</h1>
        <hr>
    {% endif %}
    {% for attachment in task.attachment.all %}
        <img src="http://127.0.0.1:8000{% get_media_prefix %}{{ attachment.file_url }}"
             alt="{{ attachment.title }}">
    {% endfor %}
    {% if task.comments.all %}
        <hr>
        <h1>Comments</h1>
        <hr>
    {% endif %}
    {% for comment in task.comments.all|in_task:task %}
        <p>Comment id: {{ comment.id }} | Comment text: {{ comment.text }} | Comment owner: {{ comment.owner }}</p>
        {% if comment.attachment.all %}
            <hr>
            <h1>Comment attachments</h1>
            <hr>
        {% endif %}
        {% for attachment in comment.attachment.all %}
            <img src="http://127.0.0.1:8000{% get_media_prefix %}{{ attachment.file_url }}"
                 alt="{{ attachment.title }}">
        {% endfor %}
    {% endfor %}
    {% if task.time_logs.all %}
        <hr>
        <h1>Time logs</h1>
        <hr>
    {% endif %}
    {% for timelog in task.time_logs.all|in_task:task %}
        <p>Timelog id: {{ timelog.id }} | Timelog owner: {{ timelog.user }} | Timelog started
            at: {{ timelog.started_at }}
            | Timelog duration: {{ timelog.duration }}</p>
        {% if timelog.attachment.all %}
            <hr>
            <h1>Timelog attachments</h1>
            <hr>
        {% endif %}
        {% for attachment in timelog.attachment.all %}
            <img src="http://127.0.0.1:8000{% get_media_prefix %}{{ attachment.file_url }}"
                 alt="{{ attachment.title }}">
        {% endfor %}
    {% endfor %}
    <hr>
    <br>
    <br>
    <hr>
{% endfor %}
</body>
</html>